
/* Menü CSS */
.menü {
    text-align: center;
    font-size: 14px;
}

.menü_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 100px;
}

.menü_li {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 100px;
}

    .menü_li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

 .menü_li a:hover {
            background-color: #ee5b83;
        }

.menü_ul .menü_li .menü_ul {
    background-color: #e6e6e6;
    display: none;
    position: absolute;
    width: 100px
}

.menü_ul .menü_li:hover .menü_ul {
    display: block;
}

.menü_li .menü_ul .menü_li {
    display: block;
}
}

/* Genel CSS */
main {
    width: 99%;
}

header {
    width: 99%;
}

footer {
    background-color: #f0f0f0;
    margin: 0.9cm;
    padding: 1cm;

}

.col-4 {
    padding-left: 140px;
}

/* Ana Ekran Logoları CSS */

.aw-zoom {
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
}

    .aw-zoom:hover {
        z-index: 2;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }

#ana_sayfa_hayvan_logoları {
    text-align: center;
}