@{
    ViewData["Title"] = "Hakkımızda";
}
<br>
<br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 style="text-align: center;">Bizi tanıyın!</h1>
        <p style="text-align: center;">
            Merhaba! <b>PetCommunity</b> 2022 yılında kurulmuş olup,
            evcil hayvan sahiplerini bir araya getirerek çeşitli konularda birlik ve beraberlik
            oluşturmayı amaçalayan bir evcil hayvan topluluk sitesidir.
        </pstyle="text-align:>
        <br>
    </div>
</div>
<div class="col-3"></div>
        